body {font-family:瀹嬩綋;}
a { color:#333;}
a:focus {outline:none;} 
.pagingbar { clear:left; margin:10px 0px; padding:5px 0px; margin-left:10px; }
    .pagingbar a { margin-left:10px; font-size:14px;}
        .pagingbar strong { font-size:16px;}

div.topNav, div.footer, div.wbox { width:1000px; margin:0px auto;}
.bodier {width:1000px; margin:auto; position:relative; z-index:1; margin-bottom:15px; padding-bottom:20px; background:url(../img/about/about_shadow.gif) no-repeat center bottom;}
.bodier .jcarousel{ width:1000px; height:300px; top:auto; left:auto; background:#fff;}
.bodier .jcarousel img{ width:1000px; height:300px}
.bodier .jcarousel-pagination{ right:10px; bottom:30px;}
.bodier .jcarousel-pagination a{background-image:none; color:#666; text-indent:0; width:20px; height:20px; text-align:center; line-height:20px; background:#fff;}
.bodier .jcarousel-pagination a.jcarousel-pagination-item-active{ background:#c00; color:#fff;}
.wrapper{background:#efefef; padding-bottom:20px;}
.location{background:#fff;}
.introduct{width:650px; float:left;}
.introduct_right{width:340px; float:left;}
.introduct_right ul li p{background:url(../img/about/dot.png) no-repeat; width:10px height:10px; padding-left:15px; color:#999;}
.introduct_right ul li a{padding-left:10px; font-size:14px;}
.introduct_right dd{padding:10px; line-height:20px; border-bottom:1px solid #dfdfdf;}
.introduct_right dd h1{height:25px; line-height:25px; position:relative;}
.introduct_right dd h1 a{font-size:14px; text-overflow:ellipsis; width:300px; display:inline-block; white-space:nowrap; overflow:hidden; height:25px; line-height:25px; position:relative; z-index:0}
.introduct_right dd h1 a:hover{width:auto; overflow:visible; position:absolute; z-index:3;}
.introduct_right dd p{color:#999;}
.introduct_right dd p a{color:#f60;}
.aboutZone ul{background:#fff;}
.aboutZone ul.ep_box li{padding:9px 0;}
.wrapper .footer{background:#f9f9f9; border:1px solid #dfdfdf;}
.homeabout_Zone{background:#fff; border-right: 1px solid #DFDFDF; border-top: 1px solid #DFDFDF;}
.homeabout_Zone td{border-bottom: 1px solid #DFDFDF; border-left: 1px solid #DFDFDF; color: #666666; padding:10px;}
.aboutZone li.pic{float:left; width:115px;}
.aboutZone li.article{width:500px; float:left;}
.homeabout_Zone .process_pic{width:80px;}
.homeabout_Zone .process{width:210px; padding-left:10px;}
.homeabout_Zone .process h1{font-size:20px; color:#333;}
.homeabout_Zone .process p{color:#999; line-height:20px;}
.aboutZone .pic_middle{background:#fff; padding:5px; border:1px solid #DFDFDF; width:100px; height:70px;}
div.about_header{}
.hd td.h1 { font-size:14px; font-weight:bold; color:#666; padding-left:10px;}
.hd td.more { text-align:right;}
.hd td.more a { text-decoration:underline; padding-right:10px;}
.iconPrice { display:inline-block; width:33px; height:34px; font-size:30px; font-weight:bold; color:#FFF; text-align:center; font-family:Arial; background-image:url(../img/about//Skin/2/bgPriceRed33.gif);}
.price2 .iconPrice { display:inline-block; width:22px; height:24px; font-size:12px; font-weight:bold; color:#FFF; text-align:center; font-family:Arial; background-image:url(../img/about//Skin/2/bgPrice22.png);}

/*_topNav__
------------------------------------------------------------------------------------------------------------------------*/
.topNav  { height:35px; line-height:35px; background-image:url(../img/about//Skin/2/bgTopNav35y.gif); margin-bottom:10px; border-left:#e9e9e9 1px solid; border-right:#e9e9e9 1px solid;}
.topNav .loginNav { width:450px; float:left; padding-left:10px; overflow:hidden;}
        .topNav .loginNav a { color:#F00; margin-left:10px;}
    .topNav div.siteQuicknav { width:425px; _width:425px; float:right; margin-top:11px; margin-right:3px; line-height:16px; height:16px; }
        .topNav .siteQuicknav ul li { background-image:url(../img/about//Skin/2/iconArrowdown13.png); background-repeat:no-repeat; line-height:14px; text-indent:18px; float:left; margin-left:15px; position:relative; _margin-left:10px; z-index:999;}
        .topNav .siteQuicknav ul li.nobg { background-image:none; text-indent:0px;}
        .topNav .siteQuicknav ul li ul { display:none; border:solid 1px #CCC; background-color:#FFF; padding:3px 10px; position:absolute;}
            .topNav .siteQuicknav ul li ul li { background:none; line-height:21px; text-indent:0px; float:none; margin-left:0px; width:120px;}
            .topNav .siteQuicknav ul li.sfhover ul { display:block !important; display:block;}
            
            .topNav .siteQuicknav ul li ul.navSearch { margin-left:-100px !important; _margin-left:-120px;}
            .topNav .siteQuicknav ul li ul.navSearch li { width:140px;}
                .navSearch .textbox { border:solid 1px #CCC; height:21px; line-height:21px; width:90px; }
                .navSearch .submit { border:solid 1px #FFF; background-color:#C00; color:#FFF; height:25px; line-height:25px; width:45px; margin-top:-1px;}

/*_top 椤堕儴閫氭爮鏍峰紡
-------------------------------------------------------------------------------------------------------------------------------*/
--------------------------------------------------------------------------------------------------------------------------*/
.logo { float:left; width:216px;}
.logoPart { width:328px; float:left; background-image:url(../img/about//Skin/2/bgLogoPart328.png); height:60px; margin-top:20px; overflow:hidden;}
    .logoPart h3 { font-size:16px; font-family:Arial Black; margin:5px 0px; color:#666;}
    .logoPart p { color:#666;}
        .logoPart p a { color:#1A69DE;}
.hotlink { float:right; width:400px; color:#666; margin-top:10px; overflow:hidden; }
    .hotlink img { vertical-align:middle; margin-right:5px;}
    .hotlink .row1 { font-size:16px; height:28px;}
    .hotlink .row1 a { font-weight:bold; padding:0px 5px; font-size:12px; color:#666;}
.about_header .infoPanel { width:350px; float:right; margin-top:10px;}
    .about_header .infoPanel div { margin-top:5px;}
    .about_header .infoPanel strong { color:#C00; font-size:18px; margin-right:5px; font-family:Arial;}

/* 鏂扮増棣栭〉鏍峰紡 */
.about_header .infosearch { width:475px; float:right; margin-top:15px; position:relative; overflow:auto;}
    .about_header .infosearch .searchmenu {width:475px; float:left; padding-top:10px;}
        .about_header .infosearch .searchmenu .smenu {width:70px; height:25px; cursor:pointer; color:#666666; line-height:24px; text-align:center; float:left; border:solid 1px #FFFFFF;}
        .about_header .infosearch .searchmenu .shover {border:solid 1px #DFDFDF; border-bottom:none; background-color:#E9E9E9;}
        .about_header .infosearch .searchmenu .freephone {float:right; color:#666666; margin-top:-8px; position:relative;}
            .about_header .infosearch .searchmenu .freephone span {font-size:20px; color:#EA5E00; font-weight:bold;}
    .about_header .infosearch .sbd {width:475px; height:38px; float:left; margin-top:-1px;}
        .about_header .infosearch .sbd .searchZ {width:400px; height:38px; float:left; background-image:url(../img/about//skin/2/IndexNew/bg_search.png);}
            .about_header .infosearch .sbd .searchZ input {width:350px; border:none; border-width:0px; margin:12px 0 0 35px; color:#999999;}
        .about_header .infosearch .sbd .btn1 {float:left; margin-left:5px;}
        .about_header .infosearch .sbd .txt1 {float:left; line-height:19px; margin-left:5px; width:60px; text-align:center;}
            .about_header .infosearch .sbd .txt1 a {color:#666666;}
/* 鏂扮増澶撮儴閫氭爮鑿滃崟 */
.Nmenu {width:100%; height:45px; background-color:#CC0000; margin:20px 0 0 0; vertical-align:middle; font-size:14px;}
    .Nmenu .menulist {width:960px; height:45px; line-height:45px; vertical-align:middle; color:#FFFFFF; margin:0 auto;}
        .Nmenu .menulist li {height:45px; line-height:45px; float:left;}
        .Nmenu .menulist li.menu {width:110px; text-align:center; font-weight:bold;}
            .Nmenu .menulist li.menu a {display:block; width:110px; height:45px; color:#FFFFFF; text-decoration:none;}
            .Nmenu .menulist li.menu a:hover {background-color:#990000;}
            .Nmenu .menulist li.menu a:focus {outline:none;}
        .Nmenu .menulist li.current {background-color:#990000;}
        .Nmenu .menulist li.line {border-left:solid 1px #990000; border-right:solid 1px #D63333; width:0px;}
        .Nmenu .menulist li.rl {width:176px; background-image:url(../img/about//skin/2/IndexNew/bg_toplogin.png);}
            .Nmenu .menulist li.rl div {float:left; height:30px; line-height:30px; font-weight:bold; padding:0 15px; margin-top:9px; *margin-top:10px; cursor:pointer;}
/* 鏂扮増棣栭〉鎸囨暟澶撮儴 */
.topindex {width:960px; height:40px; margin:0 auto; border:solid 1px #DFDFDF; border-top:none; background-image:url(../img/about//skin/2/IndexNew/bg_color.png);}
    .topindex .point {float:left; margin-top:14px;}
        .topindex .point span {padding-left:20px; color:#666666;}
        .topindex .point span.s1 {font-weight:bold;}
    .topindex .toplink {float:right; margin-top:14px;}
        .topindex .toplink span {padding:0 15px; border-right:solid 1px #666666; display:block; float:left; position:relative;}
            .topindex .toplink span a {color:#666666;}
            .topindex .toplink span img {position:absolute; top:-2px; left:15px;}

.topfoot {width:960px; height:14px; margin:0 auto; margin-bottom:10px;}

    
/*_headMenu__
----------------------------------------------------------------------------------------------------------------------------*/
.headMenu { width:auto; float:left; margin-top:15px; }
    .headMenu li { height:33px; line-height:33px; width:90px; *windth:90px;text-align:center; background-image:url(../img/about//Skin/2/bgHeadMenu102.png); float:left; margin-right:5px;}
    .headMenu a { font-size:14px; color:#666;}
    .headMenu li.current { background-image:url(../img/about//Skin/2/bgHeadMenuCurrent102.png); width:102px;}
    .headMenu li.current a { color:#FFF; font-weight:bold;}

.hotTel { /*width:250px;*/ float:left; margin-top:30px; overflow:hidden; }
    .hotTel a { color:#F00;}
#ExMenu { position:relative; _padding-top:10px; _height:23px;}
    #ExMenu div { position:absolute; background-color:#FFF; border:solid 1px #CCC; padding:10px 0px; display:none;}
    #ExMenu li { background:none; float:none; line-height:21px; height:21px; width:80px;}
        #ExMenu li a {  font-size:12px;}



/*_searchZone__
-----------------------------------------------------------------------------------------------------------------------------*/
.searchZone { background-image:url(../img/about//Skin/2/bgSearchZone40y.png); height:40px;}
    .searchZone .col1,.sumPointZone .col1 { width:200px; float:left;}
    .searchZone .col1 { position:relative; z-index:1; }
    .searchZone .col2 { width:480px; float:left; margin:3px 0px 0px 10px;}
    .searchZone .col3 { width:260px; float:left;}
/*_sumPointZone__
-----------------------------------------------------------------------------------------------------------------------------*/
.sumPointZone { background-image:url(../img/about//Skin/2/bgSumPointZone40y.png); height:40px; border-right:#e9e9e9 1px solid;}
    .sumPointZone .col2 { width:470px; float:left; margin-top:12px; color:#666;}
        .sumPointZone .col2 strong { padding-left:10px;}
        .sumPointZone .col2 span { padding-right:10px;}   
        .sumPointZone .col3 { width:290px; float:left; font-size:16px; margin-top:10px;}
			.sumPointZone .col3 img{ vertical-align:middle;padding:0px 3px 0 0;}
            .sumPointZone .col3 a { font-size:12px; padding:0px 5px;}
    
/*_searchBar__
------------------------------------------------------------------------------------------------------------------------------*/
.searchBar .ddl, .searchBar .tb, .searchBar .btn { height:35px; float:left;}
.searchBar .ddl { background-image:url(../img/about//Skin/2/bgSearchBarDDL103.png); width:103px;}
.searchBar .tb { background-image:url(../img/about//Skin/2/bgSearchBarTB270.png); width:270px;}
.searchBar .btn { width:101px;}
    .searchBar .ddl input { width:90px; padding-top:5px; margin-left:5px; border:none; }
    #a_divSelecttaskSearchMode { margin-top:8px; margin-left:5px;}
        #c_divSelecttaskSearchMode { margin-top:6px; }
    .searchBar .tb input { margin-top:10px; margin-left:10px; border:none;  width:250px; }
    
/*_spcar__
------------------------------------------------------------------------------------------------------------------------------*/
.spcar .hd { float:left; width:76px;}
.spcar .bd { float:left; height:30px; width:182px; background-image:url(../img/about//Skin/2/bgShoppingcar182.png); line-height:30px; text-align:center; margin-top:4px;}


    
    /*_taskCatalog__
    -------------------------------------------------------------------------*/
    .taskCatalogCom { background-image:url(../img/about//Skin/2/bgTaskCatalog200.gif); background-color:#FFF; position:absolute; z-index:1; left:5px; top:36px; border-bottom:solid 1px #EACAC4; width:200px; color:#666;}
    .taskCatalogCom a { color:#666;}
    .taskCatalogCom li { position:relative; width:150px; background-image:url(../img/about//Skin/2/iconArrowRRed6.gif); background-position:150px 11px; background-repeat:no-repeat; height:30px; line-height:30px; margin-left:10px; padding-left:30px; z-index:9999; }
    .taskCatalogCom div.wrap { position:absolute; left:160px; top:-2px; width:350px; display:none; color:#666; background-color:#FFF; z-index:999;}
    .taskCatalogCom div.hover { display:block;}
        .taskCatalogCom div.wrap .hd { height:27px;  border:solid 2px #CCC; border-bottom:none; border-left:none; padding-left:30px; padding-top:3px; font-weight:bold;}
        .taskCatalogCom div.wrap .bd { border:solid 2px #CCC; border-top:none; padding-left:30px; background-color:#FFF;}
        .taskCatalogCom div.wrap table { width:100%;}
        .taskCatalogCom div.wrap td { height:28px; background-color:#FFF;}
    .taskCatalogCom li.hover { border:solid 2px #CCC; background-color:#FFF; background-image:none;display:block; }

    /*_eventZone__
    ----------------------------------------------------------------------------*/
    .eventZone { border:solid 1px #CCC; margin:10px 0px;}
        .eventZone .hd { border-bottom:solid 1px #CCC;}
        .eventZone .bd .item { padding:10px 0px 10px 10px; border-bottom:dotted 1px #CCC; line-height:18px;}
        .eventZone .ft { padding:20px 0px; text-align:center;}    
    
/*_footer__
-------------------------------------------------------------------------------------------------------------------------------------*/
.footer { margin:10px 0px;}
    /*_footMenu__
    -------------------------------------------------------------------------*/
    .footMenu { background-image:url(../img/about/bgFooterMenu28y.gif); padding-top:5px; height:23px; line-height:21px; text-align:center;}
        .footMenu a { color:#FFF; padding:0px 15px; border-right:solid 1px #FFF;}
    /*_copyright__
    -------------------------------------------------------------------------*/
    .copyright { text-align:center; color:#666; line-height:24px;}
        .copyright a { color:#27507F;}
        
.links { width:960px; margin:0px auto; border:solid 1px #DFDFDF; margin-bottom:10px;}
    .links .hd { background-color:#f2f2f2; height:30px; line-height:30px;}
    .links .bd {margin:20px; height:45px; overflow:hidden;}
        .links .bd a {color:#666666;}
    .links .bd .item { margin-left:10px; float:left; width:120px; margin-top:10px;}
	
	
	
.hd {font-weight:bold;height:30px;line-height:30px;}
.splitlineb{border-bottom:1px solid #DFDFDF;}
.splitliner{border-right:1px solid #DFDFDF;}
.splitlinel{border-left:1px solid #DFDFDF;}
.splitdotb{border-bottom:1px dotted #DFDFDF;}
a{cursor:pointer;}
.marb10{margin-bottom:10px;}
.padb10{margin-bottom:10px;}

	
	 /*_btImgZone__
		--------------------------------------------------------------------------------*/
		.btImgZone {margin:10px 0px;padding:0px;height:120px;}
			.btImgZone li {float:left;width:184px;margin-right:8px;}
	
 
	.aside{width:190px; float:left; }
	.main{float:right;width:800px;margin-bottom:10px;}
		/*_aboutCatalog__
		-------------------------------------------------------------------------*/
		.aside .aboutCatalog { border:solid 1px #dfdfdf; border-bottom:none;}
		.aboutCatalog li {background-image:url(../img/about/bgAsideItem198.png); padding-top:5px; padding-bottom:5px; padding-left:20px; border-bottom:solid 1px #dfdfdf;}
		.aboutCatalog li a.current{background-image:url(../img/about/bgAsideItem198_s.png);}
		#ie6 .aboutCatalog li{padding-top:10px; padding-bottom:10px; }
		#ie6 .aboutCatalog li.title{padding-top:5px; padding-bottom:5px;}
		.aboutCatalog li a { color:#666;} 
		.aboutCatalog li a.current{font-weight:bold;}  
		.aboutCatalog li img {margin-right:15px;}

		.aboutZone{padding:0px;}
			.aboutZoneHD{padding-left:15px; color:#333; font-weight:bold;font-size:14px;}
			.help{background:#f4f4f4;}
			.aboutZone .aboutCont{width:100%;}
			.aboutZone .aboutCont .banner{padding:15px 15px;}
			.aboutZone .aboutCont .cont{padding:15px;min-height:400px;}
				.aboutZone .aboutCont .cont p{ text-indent:25px; line-height:30px;}
		.commission{border: 1px solid #DFDFDF;}
		.commission dd .contact p{color:#333;}
		.commission dt{background:url(../img/about/title_bg.gif) repeat-x; height:33px; line-height:33px; border-bottom:1px solid #dfdfdf;}
		.commission dd{background:#fff;}
	 /*_newlist闁稿繐鍘栫花顒勫箣閹存粍绮﹀ù鐘差儑缁盯鎯冮崟顒佺厐闂傚倻淇漘
		--------------------------------------------------------------------------------*/
		.aboutZone .newlist{padding:10px 20px 10px 30px;}
		.aboutZone .newlist ul li{float:left;width:340px;margin-right:10px;height:30px;line-height:30px;list-style: circle; white-space:nowrap;}
 
 	 /*_videolist閻熸瑥妫濋。绂礯
		--------------------------------------------------------------------------------*/
		.aboutZone .videolist{padding:10px 10px 10px 20px;height:150px;}
		.aboutZone .videolist ul li{float:left;width:150px;margin-right:15px;line-height:30px;list-style:none; white-space:nowrap; text-align:center;}
		.aboutZone .videolist ul li img{width:150px;height:120px;}
		.aboutZone .videolist .videoleft{float:left;width:40px;padding-top:40px;}
		.aboutZone .videolist .videoright{float:right;width:40px;padding-top:40px;}
 
 	 /*_historyZone闁告瑦鍨甸惈宥夊储閸℃瑢鏌_
		--------------------------------------------------------------------------------*/
    .historyCatalog { margin-bottom:20px; border:1px solid #dfdfdf;}
    .historyCatalog .hd { height:33px; background:#f9f9f9; border-bottom:2px solid #EA5E00;}
        .historyCatalog .hd .title{color:#ea5e00; width:140px; line-height:10px; float:left; font-size:20px; font-family:'寰蒋闆呴粦';}
        .historyCatalog .hd .tagMenu {width:610px; float:right; position:relative; z-index:1;}
            .historyCatalog .tagMenu .left { width:15px; position:absolute; z-index:1; left:0; top:10px; padding:0; background:none;;border:0;}
			.historyCatalog .tagMenu .left img,
			.historyCatalog .tagMenu .right img{ display:block;}
            .historyCatalog .tagMenu .about_content { width:560px; float:left; margin-left:20px; height:35px; top:0; left:0; overflow:hidden; }
                .historyCatalog .tagMenu .about_content a {margin-right:10px; display:inline-block; padding:0px 15px; height:32px; line-height:31px; border-bottom-color:#EA5E00 }
                .historyCatalog .tagMenu .about_content a.current { border:solid 2px #EA5E00; border-bottom-color:#FFF; background:#fff;}
				.historyCatalog .tagMenu .about_content li{ display:inline; float:left;}
            .historyCatalog .tagMenu .right { width:15px; position:absolute; z-index:1; right:0; top:10px;padding:0; background:none;;border:0;}
        
 			.historyCatalog .bd{padding:20px;border:none; background:#fff; }
			 .historyCatalog .bd .item { padding:10px 0px;}
			 .historyCatalog .bd .item .hd{padding:0 10px; font-family:"寰蒋闆呴粦"; font-size:25px; color:#333; font-weight:bold;height:50px;line-height:50px;border-bottom:1px solid #EFEFEF; background:none;}
 			 .historyCatalog .bd .item .cont{margin:5px 0px;clear:both; padding:0 10px;}
				 .historyCatalog .bd .item .cont .title{float:left;width:130px;font-weight:bold;color:#ff6600; font-size:15px; line-height:35px;}
					.historyCatalog .bd .item .cont .contr{float:right;width:590px;line-height:30px;margin-bottom:10px;}
						 .historyCatalog .bd .item .cont .contr .txt{font-size:12px; color:#666;}
						 .historyCatalog .bd .item .cont .contr .samelink{margin:10px 0px;line-height:24px; border:1px solid #EFEFEF; background:#F9F9F9;padding:10px;}
 
  
 	 /*_ContactZone闁艰鲸姊婚柈鎾箣閹存粍绮_
		--------------------------------------------------------------------------------*/
	.contacttitle{padding:20px 10px;border:1px solid #EFEFEF;margin:10px;}
 
    /* ContactZone
    ----------------------------------------------------------------------------------------------------------------*/
	.ContactZone{padding:10px 15px;}
			.ContactZone .item{border-left:1px solid #DFDFDF;  border-bottom:1px solid #DFDFDF; height:100px;display:table;}
				 .ContactZone .item .face{float:left;width:75px;height:75px;padding-left:10px;text-align:center; padding-top:10px;}
					 .ContactZone .item .face img{width:60px;height:60px;padding:6px;border:1px solid #ccc;}
				 .ContactZone .item .desc{float:right;padding-left:10px;line-height:24px;width:160px; padding-top:10px;}
					 .ContactZone .item .desc .it{text-indent:ellipsis; overflow:hidden;white-space:nowrap;}
					 .ContactZone .item .desc .it .title{color:#CC0000;font-size:14px;font-weight:bold;}
				
	 .ContactQQ{margin:10px 15px;}
		.ContactQQ td{width:16%;}
		.ContactQQ .item{margin:8px 0px;border:1px solid #DFDFDF;padding:8px;}
				.ContactQQ .item .it{text-indent:ellipsis; overflow:hidden;white-space:nowrap;line-height:24px;}
				.ContactQQ .item .it .qq{height:30px;line-height:30px;}
				.ContactQQ .item .it .title{color:#009900;}
 
 /*_闁归攱绋栭幖鎭刜
    --------------------------------------------------------------------------------*/
		.inviteTop{padding:20px;line-height:25px;}
			.color33{color:#333;font-weight:bold;font-size:12px;}
			.colorcc{color:#CC0000;font-weight:bold;font-size:14px;}		
		.inviteZone{border:1px solid #FFDDAA; background:#FFFFDF;padding:10px;margin:10px 0px;}
		.inviteZoneHD{color:#CC0000;font-weight:bold;font-size:14px;height:30px;}
		.inviteZone .invitelist{}
			.inviteZone .invitelist .hd{ background:#CC0000;height:30px;line-height:30px;color:#fff;}
			.inviteZone .invitelist .item{background:#fff;height:40px;line-height:40px;color:#666;border:1px solid #FFE6BF;clear:both;display:table;margin:9px 0px;}
			.inviteZone .invitelist .it{float:left;width:120px;text-align:center;}
			.inviteZone .invitelist .info{width:255px;text-align:left;padding-left:10px;white-space:nowrap;text-indent:ellipsis;overflow:hidden;}
 /*_闁归攱绋栭幖鎰板及鎼达絿鐭巁_
    --------------------------------------------------------------------------------*/
		.inviteDZone{width:780px;border:10px solid #CCC;margin:auto; background-color:#FFF;}
		.inviteDZone .inviteDZoneHD{background:#CC0000;height:35px;line-height:35px;color:#fff; font-size:14px; font-weight:bold;padding:0px 10px;}
		.inviteDZone .inviteDZoneHD .close{float:right;padding-top:10px;}
			.inviteDZone .cont{padding:0px 10px;}
			.inviteDZone .cont .hd{height:30px;line-height:30px;color:#CC0000;padding:0px 10px;}
			.inviteDZone .cont .item{float:left;line-height:25px;color:#666;display:table;margin:9px 20px;width:200px;}
			.inviteDZone .cont .it{text-align:left;}
			.inviteDZone .cont .info{margin:20px 0px;padding:0px 10px;height:160px;line-height:25px;overflow-y: scroll;}
		.inviteDZone .bt{background:#F4F4F4;height:40px;line-height:50px;text-align:right;padding-right:20px;vertocal-align:middle;padding-top:15px;}

 /*_闁猴拷鍨划顖炲棘閻熸壆纭�_
    --------------------------------------------------------------------------------*/
	.paymain{padding:20px;margin-bottom:10px;}
	.payTop{color:#630;border:1px solid #FFCA7E;padding:10px 20px;line-height:22px;background:#FFF2D8;}
	.payZone{margin-top:20px;border-top:1px solid #DFDFDF;border-right:1px solid #DFDFDF;}
		.payZone td{color:#333; border-left:1px solid #DFDFDF;border-bottom:1px solid #DFDFDF;height:40px;line-height:40px; color:#666666; text-align:left;padding-left:15px;}
		.payZone th{font-weigth:bold;font-weight:bold; color:#666; border-left:1px solid #DFDFDF;border-bottom:1px solid #DFDFDF;height:40px;line-height:40px; color:#666666; text-align:left;padding-left:15px;}
		.payZone .txtorange{color:#CC3300;}	
        .payZone a{color:#333;text-decoline;none;}
		.payZone .bankl{width:85px; margin:0 auto; text-align:center;white-space:nowrap; padding-top:10px;}
		.payZone .bankr{float:left; color:#333; text-align:left; line-height:25px;padding-top:10px; padding-bottom:10px;}
		
 /*_婵炶尪顕ф慨鈺傜▔閹惧啿闅榑_
    --------------------------------------------------------------------------------*/
	.actionZone{color:#333;line-height:25px;margin:0px;}
	.actionZone .banner{ background:url(../img/about/banner21.png) no-repeat;height:473px;}	
		.actionZone	.banner .txt{width:320px;height:150px;line-height:24px;text-align:left;padding-top:164px;margin-right:0px;float:right;}

	.actionZone .pannell{clear:both; height:120px;background:#880B21;padding:20px;color:#fff;}
		.actionZone .pannell .left {float:left;}
			.actionZone .pannell .left .title{font-size:26px; font-weight:bold;line-height:35px;height:35px;}
			.actionZone .pannell .left .txt{ font-size:18px;line-height:26px;}
		.actionZone .pannell .right {float:right;}
		
	.actionZone .pannel2{clear:both; border:1px solid #DFDFDF;padding:2px;margin:15px 0px;}
		.actionZone .pannel2 .item1{ background: url(../img/about/vip.png) no-repeat;padding:0px 40px;margin-top:5px;}
		.actionZone .pannel2 .item2{padding:0px 40px;margin-top:5px;}
			.actionZone .pannel2 .title{font-size:26px;height:50px;line-height:50px; border-bottom:1px solid #DFDFDF;}
			.actionZone .pannel2 .txt{line-height:28px;}
		.actionZone .pannel2 .left{float:left;width:450px;padding-left:15px;}
			.actionZone .pannel2 .left .it{ background:url(../img/about/icondown.png) no-repeat;margin:12px 0px;padding-left:50px;}
			.actionZone .pannel2 .left .txt{padding-left:10px;font-weight:bold; height:40px;line-height:40px; background:#EFEFEF;}
			.actionZone .pannel2 .left .it2{ background:url(../img/about/icon10.png) no-repeat;margin:12px 0px;padding-left:50px;}
			.actionZone .pannel2 .left  a{padding-left:10px; text-decoration:underline;font-weight:normal;}
		.actionZone .pannel2 .right{float:right;width:450px;height:245px;background:#EFEFEF;margin-right:20px;margin-top:15px;}
			.actionZone .pannel2 .right .cont{padding:20px 45px;font-size:14px;color:#870B20;font-weight:bold;line-height:25px;}
			.actionZone .pannel2 .right .cont img{padding:20px 0px 30px 25px;}
			.actionZone .pannel2 .right  a{text-decoration:underline;}
		.font11{color:#880B21;}